@{
    ViewBag.Title = "Select Platform";
}
<h2>@ViewBag.Message</h2>

<form action="/Home/ProcessForm3" method="post">
    Platform
    @Html.DropDownList("TheList")
    <p>
        <input type="submit" value="Submit" />
    </p>
</form>
